.m-page#page-topic
  img.back-btn(src="img/re.png", draggable="false")
  .left
    .h1 专题简介
    .p 近年来，我国推进境外清源，开展严打暴恐专项行动，强化社会面整体防控，基本掌握了反恐斗争主动权。同时，受国际恐怖主义进入新一轮活跃期影响，我国面临的恐怖袭击风险上升。为此，中央提出：以实施《反恐怖主义法》为契机，统筹国内国际两个大局、疆内疆外两个战场、网上网下两条战线，全力打好主动仗、攻坚仗、持久仗。坚持情报引领，坚决打掉暴恐音视频，防范、打击境内外涉恐分子勾连活动，完善反恐防范和指挥体系，深化 “去极端化”工作，强化反恐国际合作。
    .h2 人物
    .cont
      .item 奥巴马
      .item 朴槿惠
      .item 萨达姆
      .item 本拉登
      .item 鸠山由纪夫
      .item 金正恩
      .item 奥朗德	
    .h2 地点
    .cont
      .item 纽约
      .item 东京
      .item 首尔
      .item 北京
  .charts
    .chart1(style="height: 160px; padding-bottom: 24px;")
    .chart2
    .chart3(style="height: 256px; padding-bottom: 24px;")
    .title 趋势分析
    .title 国别占比
    .title 情报载体Top
  .right